################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controllers/.vs
/API_Gateway/.vs
/.vs
/OrderService/.vs
/ProductService/.vs
/UserService/.vs

/UserService/Controllers/obj
/UserService/Application/obj
/UserService/Domain/obj
/UserService/Infrastructure/obj
/ProductService/Application/obj
/ProductService/Controllers/obj
/ProductService/Domain/obj
/ProductService/Infrastructure/obj
/OrderService/Application/obj
/OrderService/Controllers/obj
/OrderService/Domain/obj
/OrderService/Infrastructure/obj
/API_Gateway/Controllers/obj
/API_Gateway/Application/obj
/API_Gateway/Domain/obj
/API_Gateway/Infrastructure/obj

/UserService/Controllers/bin
/UserService/Application/bin
/UserService/Domain/bin
/UserService/Infrastructure/bin
/ProductService/Application/bin
/ProductService/Controllers/bin
/ProductService/Domain/bin
/ProductService/Infrastructure/bin
/OrderService/Application/bin
/OrderService/Controllers/bin
/OrderService/Domain/bin
/OrderService/Infrastructure/bin
/API_Gateway/Controllers/bin
/API_Gateway/Application/bin
/API_Gateway/Domain/bin
/API_Gateway/Infrastructure/bin