################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controllers/.vs
/ApiGateway/.vs
/.vs
/OrderService/.vs
/ProductService/.vs
/UserService/.vs

/UserService/Controllers/obj
/UserService/Application/obj
/UserService/Domain/obj
/UserService/Infrastructure/obj
/ProductService/Application/obj
/ProductService/Controllers/obj
/ProductService/Domain/obj
/ProductService/Infrastructure/obj
/OrderService/Application/obj
/OrderService/Controllers/obj
/OrderService/Domain/obj
/OrderService/Infrastructure/obj
/ApiGateway/Controllers/obj
/ApiGateway/Application/obj
/ApiGateway/Domain/obj
/ApiGateway/Infrastructure/obj

/UserService/API/bin
/UserService/Application/bin
/UserService/Domain/bin
/UserService/Infrastructure/bin
/ProductService/Application/bin
/ProductService/API/bin
/ProductService/Domain/bin
/ProductService/Infrastructure/bin
/OrderService/Application/bin
/OrderService/API/bin
/OrderService/Domain/bin
/OrderService/Infrastructure/bin
/ApiGateway/API/bin
/ApiGateway/Application/bin
/ApiGateway/Domain/bin
/ApiGateway/Infrastructure/bin
/UserService/API/obj
/OrderService/API/obj
/ProductService/API/obj
/ApiGateway/API/obj
